<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Document</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
		<link rel="stylesheet/less" type="text/css" href="main.less" />
		<script src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.5.1/less.min.js"></script>
	</head>
	<body>
		<h1><b><center>Data Information</center><b></h1>
    <style>
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
			text-align: center;
    }
    </style>
    <h2><center>Search History: </center></h2>
		<h2><center>This is a database of previous searches that have been made by yourself and other users </center></h2>
    <table class="table text-center">
	    <tr>
			<th>Age</th>
			<th>Gender</th>
			<th>State</th>
			<th>Ethnicity</th>
			<th>Disease</th>
	    </tr>
		<tbody>
	    {{#each searches}}
	    <tr>
			<td>{{this.age}}</td>
			<td>{{this.gender}}</td>
			<td>{{this.state}}</td>
			<td>{{this.ethnicity}}</td>
			<td>{{this.disease}}</td>
	  	</tr>
	  	{{/each}}
		</tbody>
	</table>

	<br />
	<center><h1>Results</h1>
	{{#if info}}
		<p>{{info.info}}</p>
	{{else}}
		<p>No results to show</p>
	{{/if}}</center>
	<center><h1><a href="/about">About</a> <b>|<b> <a href="/layout">Home</a> <b>|<b> <a href="/links">More Links</a></h1></center>
		<p><center>Would you like to see a summary of the results? Click below</center></p>
		<center><h2><a href = "/summary">Summary</a></h2></center>
	</body>
</html>
